# <font color=darkblue> Machine Learning Model Deployment with Flask Framework</font>

## <font color=Blue>Used Cars Price Prediction Application</font>

### Objective:
1. To build a Machine learning regression model to predict the selling price of the used cars based on the different input features like fuel_type, kms_driven, type of transmission etc.
2. Deploy the machine learning model with flask framework.

### Dataset Information:
#### Dataset Source: https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=CAR+DETAILS+FROM+CAR+DEKHO.csv
This dataset contains information about used cars listed on www.cardekho.com
- **Car_Name**: Name of the car
- **Year**: Year of Purchase
- **Selling Price (target)**: Selling price of the car in lakhs
- **Present Price**: Present price of the car in lakhs
- **Kms_Driven**: kilometers driven
- **Fuel_Type**: Petrol/diesel/CNG
- **Seller_Type**: Dealer or Indiviual
- **Transmission**: Manual or Automatic
- **Owner**: first, second or third owner

### 1. Import required libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

### 2. Load the dataset

In [2]:
df = pd.read_csv('car+data.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### 3. Check the shape and basic information of the dataset.

In [4]:
df.shape

(301, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

### 4. Check for the presence of the duplicate records in the dataset? If present drop them

In [6]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [7]:
df = df.drop_duplicates()

In [8]:
df.duplicated().sum()

0

### 5. Drop the columns which you think redundant for the analysis.

In [9]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [10]:
df=df.drop(['Car_Name','Seller_Type','Owner'],axis=1)

In [11]:
df.head()

   Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Transmission
0  2014           3.35           5.59       27000    Petrol       Manual
1  2013           4.75           9.54       43000    Diesel       Manual
2  2017           7.25           9.85        6900    Petrol       Manual
3  2011           2.85           4.15        5200    Petrol       Manual
4  2014           4.60           6.87       42450    Diesel       Manual

### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [12]:
from datetime import datetime

current_year = datetime.now().year
df['age_of_the_car'] = current_year - df['Year']

In [13]:
df = df.drop(['Year'],axis=1)

In [14]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Transmission,age_of_the_car
0,3.35,5.59,27000,Petrol,Manual,10
1,4.75,9.54,43000,Diesel,Manual,11
2,7.25,9.85,6900,Petrol,Manual,7
3,2.85,4.15,5200,Petrol,Manual,13
4,4.60,6.87,42450,Diesel,Manual,10

### 7. Encode the categorical columns

In [15]:
df.Transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

In [16]:
df.Fuel_Type.unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [17]:
label = LabelEncoder()

columns_encode = ['Transmission', 'Fuel_Type']

for column in columns_encode:
    df[column] = label.fit_transform(df[column])

In [18]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Transmission,age_of_the_car
0,3.35,5.59,27000,2,1,10
1,4.75,9.54,43000,1,1,11
2,7.25,9.85,6900,2,1,7
3,2.85,4.15,5200,2,1,13
4,4.60,6.87,42450,1,1,10

In [19]:
df.Transmission.unique()

array([1, 0])

In [20]:
df.Fuel_Type.unique()

array([2, 1, 0])

**Fuel Type**
- Petrol = 2
- Diesel = 1
- CNG = 0

**Transmission**
- Manual = 1
- Automatic = 0

### 8. Separate the target and independent features.

In [21]:
X = df.drop('Selling_Price', axis=1)
y = df['Selling_Price']

### 9. Split the data into train and test.

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=100)

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(239, 5) (60, 5)
(239,) (60,)

### 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [23]:
# Converting DataFrame to a NumPy array before fitting the model

X_train = X_train.values
y_train = y_train.values
X_test = X_test.values
y_test = y_test.values

In [24]:
rf = RandomForestRegressor()
rf.fit(X_train,y_train)

RandomForestRegressor()

In [25]:
y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print('r2-score train = ', r2_train)
print('r2-score test = ', r2_test)

r2-score train =  0.9877494781648858
r2-score test =  0.9268175620110551

The R2 score for training data is approximately 0.99, indicating that the model explains about 99% of the variance in the training data.
The R2 score for test data is approximately 0.93, indicating that the model explains about 93% of the variance in the test data.

There is a noticeable difference between the training and test scores. This could be an indication of overfitting.

### 11. Create a pickle file with an extension as .pkl

In [27]:
import pickle
pickle.dump(rf, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

### 12. Create new folder/new project in visual studio/pycharm that should contain the "model.pkl" file *make sure you are using a virutal environment and install required packages.*

### a) Create a basic HTML form for the frontend

Create a file **index.html** in the templates folder and copy the following code.

In [ ]:
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>

    <style>
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: whitesmoke;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h1,
        h3 {
            color: rgb(0, 20, 160);
        }

        #main {
            width: 500px;
            margin: auto;
            margin-top: 100px;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid rgb(0, 20, 160);
            font-weight: bold;
        }

        input:focus-within {
            background-color: rgb(191, 222, 255);
        }

        select {
            background-color: rgb(191, 222, 255);
            color: rgb(0, 0, 0);
            font-weight: bold;
            width: 50%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: rgb(56, 86, 255);
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        input[type="submit"]:hover {
            background-color: rgb(0, 20, 160);
        }

        #predict {
            margin-top: 5%;
            width: 100%;
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: larger;
            font-weight: bold;
        }

        label {
            color: rgb(0, 0, 128);
            font-weight: bold;
        }
    </style>

</head>

<body>
<div id="main">
    <h1>Enter Car Details</h1>
    <form action="{{ url_for('predict')}}" method="post">
        <input type="text" label="Name" name="Name" placeholder="Car Name" required>
        <input type="number" label='age_of_the_car' name="age_of_the_car" placeholder="Age of the Car (Years)" required>
        <input type="number" label='Present_Price' name="Present_Price" placeholder="Present Price (In Lakhs)"
               step="0.01" required>
        <input type="number" label='Kms_Driven' name="Kms_Driven" placeholder="Kms Driven" required>
        <select name="Fuel_Type" id="Fuel_Type" required>
            <option value="2">Petrol</option>
            <option value="1">Diesel</option>
            <option value="0">CNG</option>
        </select>
        <select name="Transmission" id="research" required="required">
            <option value="1">Manual</option>
            <option value="0">Automatic</option>
        </select>
        </br>
        </br>
        <input type="submit" value="Submit">
    </form>
</div>
<div id="predict">{{prediction_text}}</div>
</body>

</html>

### b) Create app.py file and write the predict function

In [ ]:
from flask import Flask, render_template, request
import pickle

app = Flask(__name__)
model = pickle.load(open('model.pkl', 'rb'))


@app.route('/')
def index():
    return render_template('index.html')


@app.route("/predict", methods=['POST'])
def predict():
    if request.method == 'POST':
        car_name = request.form.get('Name')
        age_of_the_car = request.form['age_of_the_car']
        Present_Price = float(request.form['Present_Price'])
        Kms_Driven = int(request.form['Kms_Driven'])
        Fuel_Type = request.form['Fuel_Type']
        Transmission = request.form['Transmission']

        prediction = model.predict([[Present_Price, Kms_Driven, Fuel_Type, Transmission, age_of_the_car]])
        output = round(prediction[0], 2)
        prediction_text = 'Resale Value of your ' + car_name + ' is Rs. ' + str(output) + ' Lakhs.'
        return render_template('index.html', prediction_text=prediction_text)


if __name__ == "__main__":
    app.run(debug=True)

### 13. Run the app.py python file which will render to index html page then enter the input values and get the prediction.

In [ ]:
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN: 126-086-236
127.0.0.1 - - [27/Sep/2023 20:51:34] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Sep/2023 20:51:34] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [27/Sep/2023 20:51:58] "POST /predict HTTP/1.1" 200 -
127.0.0.1 - - [27/Sep/2023 20:52:27] "POST /predict HTTP/1.1" 200 -

Local server running at http://127.0.0.1:5000. It has successfully processed 1 GET request for the endpoint (/) and 2 POST requests for the (/predict) endpoint.

<div class="alert alert-info">
    
**Note:** The directive was given to execute the deployment on our local machine, rather than proceeding with Heroku.

</div>

### Happy Learning :)